@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";
/*font-family: 'Roboto', sans-serif;*/
/* Pantalla Tips */
/* Pantalla unirse */
/*Responsive para tamaño a partir de 768px */
/* Header */
/* Footer */
/* Pagina de Galeria */
/* Pagina de Recetas */
/* Responsive para tamaño a partir de 1024px */
/* Header */
/* Pagina de Galeria */
/* Pagina de Receta */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

/* Header */
.header-flex {
  background-color: #FFFAF6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-flex a {
  color: #2D1E2F;
}
.header-flex ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
}
.header-flex li {
  margin: 0.5rem;
}

.img-logo {
  width: 100px;
}

ul {
  list-style: none;
  font-size: 15px;
}

/*Contenido Principal*/
.banner-hero {
  background-size: cover;
  background-color: #e5e5e5;
}
.banner-hero h1 {
  text-align: center;
}

/* Footer */
.footer-flex {
  text-align: center;
  background-color: #FFFAF6;
  margin-top: 8rem;
}
.footer-flex ul {
  padding: 1rem;
  color: #BF639F;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Logo de Whatsapp */
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  z-index: 100;
}
.whatsapp img {
  width: 80px;
}

/* Pagina de Inicio */
.titulo__inicio {
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}

.header__listaMenu a {
  color: black;
  text-decoration: none;
}
.header__listaMenu li {
  display: inline-block;
  padding: 2px;
}

.header__listaMenu--activo {
  font-weight: bold;
  color: #BF639F;
}

.texto__principal {
  padding: 20px 25px;
  margin: 55px;
  text-align: center;
}

.texto__info {
  padding: 20px 25px;
  padding-bottom: 280px;
}

/* Pagina de Galeria */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.producto {
  width: 50vw;
  text-align: center;
}
.producto img {
  width: 40vw;
  transition: all 1s;
}
.producto img:hover {
  width: 47vw;
  padding: 5px;
  background-color: aliceblue;
}

.recetas-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.receta {
  text-align: center;
  padding: 1rem;
}
.receta img {
  width: 40vw;
  transition: all 1s;
}
.receta img:hover {
  width: 60vw;
  padding: 10px;
  background-color: aliceblue;
}

.tips_titulo {
  padding: 40px 15px;
}
.tips_titulo h2 {
  padding-bottom: 33rem;
}

.unirse {
  text-align: justify;
  padding: 0, 5rem, 10rem;
}

.accordion {
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 768px) {
  .header-flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
  }
  .footer-flex ul {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .footer-flex li {
    color: #BF639F;
    text-decoration: none;
  }
  .producto {
    width: 30vw;
    text-align: center;
  }
  .producto img {
    width: 30vw;
    transition: all 1s;
  }
  .producto img:hover {
    width: 33vw;
    padding: 5px;
    background-color: aliceblue;
  }
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .recetas-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 7rem;
  }
  .receta img {
    width: 20vw;
  }
  .receta img:hover {
    width: 26vw;
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .header-flex ul {
    font-size: 20px;
  }
  .img-logo {
    width: 120px;
  }
  .producto {
    width: 33vw;
    text-align: center;
  }
  .producto img {
    width: 15vw;
    transition: all 1s;
  }
  .producto img:hover {
    width: 25vw;
    padding: 1rem;
    background-color: aliceblue;
  }
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .receta img {
    width: 18vw;
  }
  .receta img:hover {
    width: 26vw;
    padding: 1rem;
  }
}/*# sourceMappingURL=style.css.map */